@import '/styles/variables';

.container{
    min-height: 90vh;
    max-height: 90vh;
    width: 93vw;
    background-color: $black-1;
    border-radius: 30px;
    padding: 30px 55px;
}

.childrenContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}